---
//const title = "Mi proyecto en Astro!!";
//const color = "warning";

//const hobbies = ["Programar", "Leer", "Escribir", "Ver Peliculas"];
//const isActive = true;
import Layout from "../components/Layout.astro";
import Button from "../components/ButtonSuscribe.jsx";

---

<!--<ul>
		{
		  hobbies.map((hobby) => (
			<li>
			  <h3>{hobby}</h3>
			  <button>Like</button>
			</li>
		  ))
		}
	  </ul>
	
	  <h3 class="danger">
		{isActive && "El usuario está activo"}
		{!isActive && "El usuario no está activo"}
	  </h3>
	
	  <script>
		console.log("Hola mundo");
	  </script>
	  <style>
		body {
		  background-color: #f7dbdb;
		  color: black;
		}
		.title {
		  color: skyblue;
		}
		.danger {
		  color: red;
		}
		.warning {
		  color: yellow;
		}
	  </style>---->
<Layout
  pageTitle="Página Inicial"
  pageDescription="Esta es una página donde se ofrecen servicios de desarrollo de software "
>
  <h1>Página Inicial</h1>
  <p>Bienvenido a mi blog</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat velit sapiente possimus! Consequatur quod tenetur, ipsam exercitationem laudantium veritatis temporibus asperiores minus odio expedita vitae nulla labore quae modi magnam dolorem. Similique praesentium vero, quae sint nisi illum harum placeat consectetur neque odit et distinctio deserunt animi magni aspernatur fuga, incidunt aliquid inventore tempora voluptatibus ipsa adipisci nesciunt, veritatis perferendis. Natus dolor minima officiis omnis quidem ex corporis rem eligendi architecto ducimus eveniet sapiente pariatur laboriosam quibusdam veniam, facere inventore eos temporibus exercitationem? Consectetur et reiciendis voluptates fugiat iusto vero. Optio qui harum maiores, quo architecto voluptates libero laudantium. Laborum maiores ipsum dolorum numquam ratione ipsam enim soluta quia quas? Hic sint voluptatibus, totam quaerat a deserunt velit, asperiores recusandae nulla esse nemo aut! Voluptate, repellat? Nihil dolore at dolores, quia repellendus, pariatur voluptas obcaecati nisi fuga tempora praesentium saepe, quas numquam rerum. Non soluta nobis ea possimus corrupti quasi sint in quis, nihil fuga, ab, modi minima maiores deserunt pariatur repellendus qui repellat fugiat reiciendis error cumque nostrum magnam adipisci atque. Corrupti voluptatem itaque qui suscipit, nobis harum enim recusandae quasi non quam minus dignissimos illum, amet repellat quia cum. Error rem dolorem magni accusamus officia in, corporis, laudantium enim tempore quis magnam eaque! Veritatis nisi impedit reprehenderit maiores odit, totam, nesciunt aspernatur placeat in minus amet, eos corrupti quidem eaque ipsum sequi doloribus numquam? Corporis repellat, delectus, quod, libero obcaecati facere corrupti repudiandae dolor et voluptatibus voluptate. Adipisci saepe praesentium ipsa suscipit porro tenetur iure modi, iste consectetur, error nostrum quo quas aliquam doloremque beatae numquam, dolore eligendi minima harum veritatis odit totam accusamus ullam! Inventore ipsam aliquam placeat libero sapiente, ex fuga neque mollitia autem quod molestias quaerat maxime accusamus tempore officiis ad rem ut repudiandae quidem voluptates laboriosam qui voluptas debitis! Iure, cumque vel porro saepe provident magnam at sunt quae quidem minus, doloremque alias vitae id dolores assumenda culpa iusto fuga ullam velit! Recusandae deserunt nulla optio fuga voluptatum sit doloremque omnis non, sed quod, architecto magnam laudantium repellat reiciendis doloribus molestias assumenda aliquid sunt odit at sapiente eius minima. Ducimus placeat voluptatem nisi reiciendis esse enim illum nostrum earum, eos sed. Incidunt quidem maxime perferendis sint illum molestiae cum quis. Aspernatur perferendis rem nihil sequi repellendus eius repudiandae consectetur, pariatur facere fuga nisi magni rerum earum! Eveniet necessitatibus et inventore modi doloribus esse ratione quidem alias laudantium expedita unde voluptatibus pariatur officia a debitis quos aspernatur harum maxime quas quod soluta, incidunt non numquam! Totam provident exercitationem labore dicta ex veniam quos tenetur ipsam consequuntur facilis ratione possimus hic aliquid animi quisquam molestias voluptate, architecto amet similique voluptates molestiae necessitatibus magnam vero vitae. Tenetur assumenda aspernatur maiores adipisci cumque repudiandae quae corrupti iste, soluta labore impedit earum, quam veniam omnis! Ipsum iusto, molestias eius laboriosam, debitis inventore enim autem veritatis mollitia quaerat velit sequi unde atque. Nihil asperiores id eius est fuga temporibus nesciunt ratione eligendi esse amet deleniti nobis ad quaerat eum repudiandae qui sed, totam perferendis voluptatum alias officiis in exercitationem! Accusamus libero tempora a explicabo porro ratione dolore accusantium praesentium sapiente dignissimos et velit, recusandae atque, neque, non quas cum reprehenderit necessitatibus temporibus illo sequi eos animi. Delectus hic, nihil mollitia, esse praesentium sed neque ullam velit illum temporibus voluptatibus quis eaque odio fuga voluptate. Possimus vitae maiores veniam perferendis atque expedita sequi deserunt rem recusandae, labore praesentium voluptatem alias, blanditiis, odio est sunt pariatur amet ullam facere a harum repudiandae? Fugit totam dolore hic provident optio suscipit eveniet distinctio similique, modi assumenda iusto sint quidem ut in. Deserunt pariatur nisi libero expedita perferendis eligendi recusandae neque mollitia, quod esse ex. Suscipit repudiandae cum porro dignissimos quibusdam sapiente, cupiditate explicabo, doloribus cumque voluptates adipisci odio tempora saepe ullam, atque ducimus ipsa voluptatem ipsum eaque. Quisquam, non! Praesentium maiores, neque ullam, illum laboriosam accusantium magni voluptates temporibus eligendi dolores fuga aliquid itaque aspernatur recusandae quod dignissimos quaerat consequatur quia. Earum possimus debitis recusandae similique dicta, accusantium minima! Rerum error tempora repudiandae repellendus, soluta, voluptas dolores ducimus harum dicta ad iure doloribus tenetur placeat. Voluptates fugiat est nulla saepe impedit quasi quaerat necessitatibus, voluptatum aliquid corrupti consequatur maiores similique rerum perferendis laborum odio earum, doloremque ducimus placeat, et explicabo? Delectus libero excepturi, fuga eum dolorem, est perspiciatis minima exercitationem sapiente error sed quisquam, illo non voluptatem iusto. Nulla, eos laboriosam error et vero vitae est dicta facilis quia rem repellendus quos labore itaque delectus iste ducimus harum consequuntur sit ipsa debitis officia. Ratione officia facere maiores reiciendis veniam numquam perferendis necessitatibus, vitae quasi nihil eius fugit, possimus dignissimos eveniet quidem nulla consectetur? Quos dolorem mollitia unde asperiores voluptatum ipsa, debitis neque consequatur aliquam quam atque accusamus quo necessitatibus quis assumenda voluptatibus perferendis repellendus sapiente reprehenderit, autem laboriosam aperiam corporis. Modi voluptatibus, quisquam, ipsum magnam ea assumenda ab, itaque natus unde consequatur expedita id aliquid error autem hic maiores distinctio rem suscipit! Beatae laudantium sed numquam! Sed libero hic quidem facere ratione quam quaerat, possimus nisi id pariatur delectus asperiores culpa amet quia labore aspernatur cumque error fugit similique modi dolorem eveniet, ab sit? Porro repellat saepe odit harum rerum, aut quis qui nisi exercitationem adipisci laudantium dolorum error vel quo sint omnis, numquam impedit quos dolore ipsa accusamus doloribus vero iste a! Est nobis aspernatur facere mollitia reiciendis doloremque recusandae accusamus magni libero vitae atque incidunt, at deleniti amet praesentium hic laboriosam deserunt omnis quae nulla! Sit modi veniam error numquam optio omnis delectus? Accusamus vero exercitationem voluptatum laboriosam commodi esse ex tempore odio veritatis dolorum non, delectus odit praesentium quidem consequuntur eius? Nobis quo totam doloremque exercitationem, officiis cupiditate ab fugit accusamus rem consectetur tenetur officia itaque beatae accusantium maiores? Consequuntur, facere dignissimos inventore animi eligendi ducimus! Quia aliquam eius nobis perspiciatis dolor nulla aliquid quam fuga consectetur aspernatur facilis sequi eligendi accusantium, recusandae necessitatibus animi maxime cupiditate nihil illum ipsum tempora suscipit cumque! Provident repudiandae animi ullam delectus eveniet consequatur sunt blanditiis tenetur, velit alias ipsa quibusdam voluptates placeat nostrum et quisquam dicta doloribus recusandae necessitatibus ea quaerat suscipit incidunt.</p>
  <Button client:visible/>
 
</Layout>

