---
interface Props{
    pageTitle?: string
    pageDescription?: string
}
const { pageTitle, pageDescription } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/favicon.svg" type="image/x-icon" />
    <meta name="descripción" content={pageDescription}><!--Sirve para que la web se encuentre fácilmente en el buscador--> 
    <title>Astro Curso | { pageTitle }</title>
</head>
<body>
    <slot/>


    <style>
        body{

            background-color: #202020;
            color: white;
        }
    </style>
</body>
</html>